@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Slabo+27px');
/*
font-family: 'Roboto', sans-serif;
font-family: 'Slabo 27px', serif;
/*

/***** Globals *****/
* {
  font-family: 'Slabo 27px', serif
}

button{
  outline: none !important;
  box-shadow: 1px 1px 1px #333;
}

/***** NavBar *****/

#navContainer {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.navbar {
  margin:0;
  border-radius: 0;
}

nav .navNarrow i {
  width: 100%;
  margin: auto;
  padding:10px;
	text-align: center;
	cursor: pointer;
	color: #999;
}

.navWide {
  display: none;
}

.navNarrow .narrowLinks {
  display:none;
}

.navNarrow .narrowLinks li {
  text-align: center;
	text-decoration: none;
	display: block;
	padding: 0.5em 0;
}

li span {
  font-size: 1.6rem;
}

@media (min-width:768px) {
  nav .navWide {
    display: block;
  }
  nav .navNarrow {
    display: none;
  }
}

/***** Footer *****/


/***** Home *****/

#homeHeroContainer {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../images/hero-bg.jpg');
  height: 100vh;
  margin-top: -50px;
}

#homeTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#homeTitle h1 {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.3);
  font-size: 50vw;
}

#homeTitle h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 8vw;
}

#homeTitle h2:nth-child(3) {
  letter-spacing: 7px;
}

main {
  margin: auto;

  max-width: 1200px;
}

#homeIntro {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin:20px;
}

#homeIntro p {
  font-size: 1.6em;
  margin: 30px auto;
}

#homeIntro p:nth-child(1) {
  margin-top:20px;
}

#homeIntro h1 {
  font-size: 3em;
  flex: 1 0 100%;
  text-align: center;
}

#homeIntro img {
  align-self: center;
  height: 300px;
}

/***** About *****/

#aboutHeroContainer {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../images/joshua-earle-2640.jpg');
    height: 100vh;
    margin-top: -50px;
    /*justify-content: center;*/
    align-items: center;
}

#aboutHeroContainer h1{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14vw;
  margin-top: 80px;
}

#teamContainer {
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#teamContainer h2 {
  font-size: 4em;
  margin-bottom: 0.5em;
}

#ourTeam {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

#ourTeam div {
  text-align: center;
  flex: 1 0 31%;
  margin: 0px 10px 20px auto;
}

#ourTeam div img {
  width: 320px;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
}

#ourTeam div p {
  margin: 30px auto;
  width: 90%;
}

#creed {
  text-align: justify;
  width: 600px;
  margin: 0 auto;
  padding:0 40px 50px 40px;
}

#creed p{
  font-size: 1.4em;
}

#creed p:nth-child(3) {
  padding-top: 10px;
  text-align: center;
}

#creed h2 {
  text-align: center;
  font-size: 3em;
}

#creed h3 {
  text-align: center;
  font-size: 3em;
}

/***** Product *****/

#prodHeroContainer {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../images/prod_hero.jpg');
  height: 100vh;
  margin-top: -50px;
  align-items: center;
}

#prodHeroContainer h1 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14vw;
  margin-top: 80px;
}

#catContainer {
  margin: 10px auto 50px auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;

}

#catContainer h3 {
  font-size: 4em;
  margin: 5px;
}

#catContainer img {
  height: 220px;
}

.dropdown {
  display: flex;
  justify-content: center;
  height: auto;
  margin:5px;
}

.dropdown.open {
  text-align: center;
  background-color: rgba(244,244,244,0.9);
}

.dropdown-menu {
  text-align: center;
  width: 90%;
  left:50%;
  margin-left:-45%;
}

.open>.dropdown-menu {
margin-top:-50px;
}

.itemsContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 10px 20px;
  align-items: center;
}

/***** Products *****/

.itemInfo {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.itemInfo span:nth-child(1) {
  font-size: 1.1em;
}

.itemInfo span:nth-child(2) {
  font-size: 1.2em;
}

.itemInfo span:nth-child(3) {
  font-size: 1em;
}

.listItem {
  text-align: center;
  flex:  1 0 28%;
  margin-bottom:40px;
}
.buyBtns {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buyBtns button {
  margin: 5px;
  width: 150px;
}

/***** Image edits *****/

#waistpackItem img {
  height: 300px;
}

.tentImg {
  height: 180px;
}

.hammockImg {
  height: 180px;
}

.shelterOtherImg {
  height: 180px;
}

.sleepOtherImg {
  height: 180px;
}

/***** Contact *****/

#contactTitle h1 {
  text-align: center;
  font-size: 3.8em;
  margin: 30px 0px -15px 0px;
}

#contactContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 3% 4% 3%;
}

#mapContainer {
  text-align: center;
}

iframe{
  box-shadow: 2px 2px 5px #444;
  margin: 5%;
}

.place-card {
  display: none !important;
  position: relative;
}

#contactContainer>div {
  flex: 1 0 50%;
  margin-top:40px;
}

#contactContainer h3 {
  font-size: 2em;
}

#formContainer {
  text-align: center;
  padding: 0 60px;
}

form {
  margin-top:30px;
}

.form-group {
  font-size: 1.6em;
  height: 75px;
  margin:0px;
}

.submitButton {
  margin-top:70px;
}
